mixin configItemMenu(title, icon, link)
  li
    a.text-primaryColor.bg-frontColor(href=link, title=title)
      span= title
      i.fas.mono-font-xl(class=icon)

footer#bottom
  #bottom-wrapper
    a#button-config.text-primaryColor.bg-frontColor(
      href='#menu-config',
      title='Configuration',
      class='hover:text-highlightColor'
    )
      i.fas.fa-cog.mono-font-xl
      span.sr-only Configuration
    ul#menu-config
      +configItemMenu('Résumé', 'fa-info', '#')
      +configItemMenu('Configuration Système', 'fa-cogs', '#')
      +configItemMenu('Plugins', 'fa-rocket', '#')
      +configItemMenu('Equipements', 'fa-plug', '#')
      +configItemMenu('Centre d\'automatisation', 'fa-code-branch', '#/!/code')
      +configItemMenu('Destinataires', 'fa-envelope', '#')
      +configItemMenu('Installation & Mise à jour', 'fa-download', '#')
      +configItemMenu('Maintenance', 'fa-briefcase', '#')
      +configItemMenu('A propos', 'fa-comment', '#')
