- let targetString = (value) => { return '' + value}

mixin menu_entry_content(icon, text, target)
  a.text-primaryColor(
    class='md:py-3 hover:text-highlightColor',
    href="" + targetString(target)
  )
    span.icon
      i(class=icon)
    span.word(class='md:pb-0')= text

mixin menu_entry(icon, text, target, isActive = false)
  if isActive
    li.active.border-l-4.border-highlightColor.bg-activeColor
      +menu_entry_content(icon, text, target)
  else
    li
      +menu_entry_content(icon, text, target)

mixin sidebar(page)
  #sidebar.w-16.bg-frontColor(class='hover:w-48 hover:shadow-2xl')
    nav#menu
      ul
        +menu_entry('fas fa-home', 'Accueil', '/', page == "home")
        +menu_entry('fas fa-door-open', 'Volets', '/volets.html', page == "volets")
        +menu_entry('far fa-chart-bar', 'Suivi', '/suivi.html', page == "suivi")
        +menu_entry('fas fa-bullhorn', 'Alarme', '/alarme.html', page == "alarme")
        +menu_entry('far fa-hdd', 'Système', '/systme.html', page == "systme")
        +menu_entry('far fa-lightbulb', 'Test', '/test.html', page == "test")
    #yadoms-icon
      a.text-primaryColor(
        href='https://yadoms.com',
        target='_blank',
        class='md:py-3 hover:text-highlightColor'
      )
        span.icon
          img(src='/img/icon.png')
        span.word(class='md:pb-0') Yadoms.com
