mixin dimmer(value, min = 0, max = 100, step = 1, suffix = '%', digital = true, height = true)
  - var h = height ? "card-height-1" : "";
  .dimmer.card-width-2(class=h)
    .joliePosition.px-8
      .wrapper.text-highlightColor.shadow-inner.bg-activeColor
        button(
          class='hover:bg-highlightColor hover:text-activeColor',
          data-action='decrement'
        )
          .p-2
            i.fas.fa-minus
        .inner-wrapper.shadow-inner
          - var cl = digital ? "font-mono" : "";
          input.bg-activeColor(
            type='number',
            value=value,
            min=min,
            max=max,
            step=step,
            class=cl
          )
          .suffix
            span= suffix
        button.p-2(
          class='hover:bg-highlightColor hover:text-activeColor',
          data-action='increment'
        )
          div
            i.fas.fa-plus
