mixin dimmer(value, min = 0, max = 100, step = 1, suffix = '%', digital = true, height = true)
  - var h = height ? "card-height-1" : "";
  .dimmer.card-width-2(class=h)
    .flex.items-center.justify-center.w-full.h-full.px-4
      .w-full.h-10.flex.flex-row.rounded-lg.text-highlightColor.shadow-inner.bg-activeColor.mt-2.overflow-hidden
        button.h-full.w-10.outline-none(
          class='hover:bg-highlightColor hover:text-activeColor',
          data-action='decrement'
        )
          .m-auto.text-lg.font-bold.p-2
            i.fas.fa-minus
        .relative.h-full.py-2.px-4.shadow-inner.flex-grow
          - var cl = digital ? "font-mono" : "";
          input.outline-none.text-right.h-full.bg-activeColor.pr-4.w-full(
            type='number',
            value=value,
            min=min,
            max=max,
            step=step,
            class=cl
          )
          .absolute.inline-block.inset-y-0.right-0.flex.items-center
            span.text-xs.pr-2= suffix
        button.h-full.w-10.outline-none.p-2(
          class='hover:bg-highlightColor hover:text-activeColor',
          data-action='increment'
        )
          .m-auto.text-lg.font-bold
            i.fas.fa-plus
