mixin forecast(city, datas)
  .forecast.card-width-5.card-height-2(data-city=city)
    .joliePosition
      each data in datas
        .forecast-day
          .text-center= data.day
          .forecast-weather
            - var cond = "fas fa-" + data.cond;
            +indicator(cond)
            .temp-wrapper
              .temp-min.text-minColor
                span= data.Tmin
                span= data.Tunit
              .temp-max.text-maxColor
                span= data.Tmax
                span= data.Tunit
          .forecast-conditions
            .forecast-wind
              - var wdir = "wind-" + data.Wdir;
              .ring.border-primaryColor(class=wdir)
                .inline-block.absolute.mono-font-xs
                  i.fa.fa-caret-up
              .wind-wrapper
                .wind-min.text-minColor= data.Wmin
                .wind-max.text-maxColor= data.Wmax
            .forecast-rain.border-primaryColor(data-rain=data.rain)
              .liquid
                .fill.bg-blue-600
                .word.text-primaryColor= data.rain
