mixin forecast(city, datas)
  .forecast(data-city=city)
    .flex
      each data in datas
        .forecast-day.mx-2
          .text-center= data.day
          .forecast-weather.flex
            - var cond = "fas fa-" + data.cond;
            +indicator(cond)
            .flex.flex-col.justify-center.text-xs
              .temp-min.text-minColor.text-right
                span= data.Tmin
                span= data.Tunit
              .temp-max.text-maxColor.text-right
                span= data.Tmax
                span= data.Tunit
          .forecast-conditions.flex.justify-around
            .forecast-wind.relative.w-10.h-10
              - var wdir = "wind-" + data.Wdir;
              .ring.relative.border-2.border-primaryColor.w-full.h-full.rounded-full.transform.duration-200.inset-0.flex.justify-center(
                class=wdir
              )
                .inline-block.absolute.mono-font-2xs
                  i.fa.fa-caret-up
              .absolute.flex.flex-col.justify-center.text-xs.text-center.leading-tight.h-full.inset-0
                .wind-min.text-minColor.text-center= data.Wmin
                .wind-max.text-maxColor.text-center= data.Wmax
            .forecast-rain.w-3.h-10.border-2.border-primaryColor.rounded-full.border-t-0.rounded-t-none.inline-flex.items-end(
              data-rain=data.rain
            )
              .liquid.h-0.w-3.transition-all.duration-700.ease-in-out.relative.text-xs
                .absolute.top-0.left-0.w-full.h-full.rounded-b-full.bg-blue-600
                .absolute.top-0.left-0.pl-4.-mt-2.text-primaryColor= data.rain
