mixin gauge(value, min = 0, max = 100, unit = '%', digital = true)
  .gauge.card-width-2.card-height-2(
    data-value=value,
    data-min=min,
    data-max=max
  )
    .joliePosition
      .wrapper.bg-activeColor
        .ring.border-gray-100.shadow-inner
          .fill
          .inner-wrapper.bg-gray-100
            .shadow-inner.bg-activeColor
              .container.text-primaryColor.joliePosition
                - var cl = digital ? "font-mono" : "";
                .value(class=cl)= value
                .unit= unit
