mixin switch(type, ...args)
  .switch.card-width-1.card-height-1
    .joliePosition
      if type == "button"
        - var cl = args[0]
        - var state = args[1]
        - var clb = state == 'on' ? 'active' : ''
        button.switch-button.text-primaryColor.bg-baseColor(class=clb)
          i.mono-font-3xl(class=cl)
      else if type == "arrow"
        .switch-arrow.joliePosition.flex-col
          - var cla = "hover:bg-highlightColor hover:text-activeColor"
          button.rounded-t.bg-activeColor.text-highlightColor.border-b.border-highlightColor(class=cla, data-action="up")
            i.fas.fa-caret-up
          button.rounded-b.bg-activeColor.text-highlightColor(class=cla, data-action="down")
            i.fas.fa-caret-down
      else if type == "toggle"
        .switch-toggle(class="hover:active")
          div
            input(type="checkbox", checked=(args[0] == 'on'))
            .wrapper.bg-activeColor.shadow-inner
            - var clr = args[0] == 'on' ? 'transform translate-x-full' : ''
            .round.bg-frontColor(class=clr)
      else
        p TODO