mixin thermometer(value, min = 0, max = 40, unit = '°C', digital = true)
  .thermometer.card-width-1.card-height-1(
    data-value=value,
    data-min=min,
    data-max=max,
    data-unit=unit
  )
    div
      .tube.bg-white.border-gray-600
        .liquid.bar
          .text-primaryColor= val
            - var cl = digital ? "font-mono" : "";
            span(class=cl)= value
            span= unit
      .bulb.bg-white.border-gray-600
        .liquid
